# --------------------------- Node ---------------------------

API/node_modules
API/dist
API/.env
API/.env.*

# --------------------------- .NET Core ---------------------------

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# --------------------------- Angular ---------------------------

# compiled output
/Front-End/dist
/Front-End/tmp
/Front-End/out-tsc

# Only exists if Bazel was run
/Front-End/bazel-out

# dependencies
/Front-End/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/Front-End/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/Front-End/.sass-cache
/Front-End/connect.lock
/Front-End/coverage
/Front-End/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/Front-End/typings

# System Files
.DS_Store
Thumbs.db